{% extends 'rango/base.html' %}
	{% load staticfiles %}
	{% block title_block %}
		About
	{% endblock %}
	
	{% block body_block %}
        <div>
			{% if visits %}
	        <h1 class="page-header">About Page</h1>
			<a >{{ visits }}</a>
	        This is about page
            {% endif %}
		</div>	
		<img src="{% static "image/rango.jpg" %}" alt="Picture of Rango" />



	<hr>

		<button class="btn btn-primary" id="about-btn"> JQuery Alert Example</button>
	<p>This text is for a Jquery Example - I'll turn red when you hover over me.</p>
	<div id="msg">Hello - I'm here for a Jquery Example too</div>
	{% endblock %}