{% extends 'rango/base_bootstrap.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

  {% load rango_template_tags %}
  {% load threadedcomments_tags %}
{% block title_block %}
item
{% endblock %}
  
<link rel="icon" href="{% static 'images/favicon.ico' %}">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />

<!-- ================================================================== -->


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<style type="text/css">

    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */

    #map {
      height: 40%;
      margin: auto 0;
      width: 300px;
    }
    /* Optional: Makes the sample page fill the window. */
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      margin-top:50px;
    }
    #floating-panel {
      position: absolute;
      top: 10px;
      left: 25%;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
      text-align: center;
      font-family: 'Roboto','sans-serif';
      line-height: 30px;
      padding-left: 10px;
    }
    #image{

       width: 800px;
    height: 400px;
    border: 1px solid #000;


    }
    #adimage{

    width: 100%;
    height: 100%;


    }
    #form{
height: 50px;

}
</style>
{% block body_block %}





<!-- ====================================================================================== -->
  





  <div class="container" style="height:100%; width: 100%;">
      <div class="row clearfix"style="height:100%; width: 100%;">
        <div class="col-md-12 column" style="height:100%; width: 100%;">
          <div class="row clearfix" style="height:100%; width: 100%;">
            
            <div class="col-md-8 column" style="margin: 0px">
            

              <div class="carousel slide" id="carousel-195321">
                <ol class="carousel-indicators">
                  <li data-slide-to="0" data-target="#carousel-195321">
                  </li>
                  <li data-slide-to="1" data-target="#carousel-195321" class="active">
                  </li>
                  <li data-slide-to="2" data-target="#carousel-195321">
                  </li>
                </ol>
                <div class="carousel-inner">
                   {% for ad in ad_list %}
                  <div class="item active" id="image" >
                    <img alt="" src="/media/{{ ad.image }}"  style="height:350px; width: 100%;" />
                    <div class="carousel-caption">
                      <h4>
                        {{ ad.description }}
                      </h4>
                    </div>
                  </div>
                  <!-- <div class="item">
                    <img alt="" src="v3/default2.jpg" />
                    <div class="carousel-caption">
                      <h4>
                        Third Thumbnail label
                      </h4>
                      <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
                      </p>
                    </div>
                  </div> -->
                </div> <a class="left carousel-control" href="#carousel-195321" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-195321" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>
               
              <div class="panel-group" id="panel-574473">
                <div class="panel panel-default">
                  <div class="panel-heading">
                     <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-574473" href="#panel-element-935286">title</a>
                  </div>
                  <div id="panel-element-935286" class="panel-collapse collapse">
                    <div class="panel-body">
                      {{ ad.title }}
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                     <a class="panel-title" data-toggle="collapse" data-parent="#panel-574473" href="#panel-element-493984">description</a>
                  </div>
                  <div id="panel-element-493984" class="panel-collapse in">
                    <div class="panel-body ">
                    <p> {{ ad.description }}</p>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                     <a class="panel-title" data-toggle="collapse" data-parent="#panel-574473" href="#panel-element-493980">price</a>
                  </div>
                  <div id="panel-element-493980" class="panel-collapse in">
                    <div class="panel-body">
                     {{ ad.price }}
                    </div>
                  </div>
                </div>

         




<div class="row" >
  {% for object in mes_list%}
<div class="col-sm-1">
<div class="thumbnail">
<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
</div><!-- /thumbnail -->
</div><!-- /col-sm-1 -->

<div class="col-sm-5">
<div class="panel panel-default">
<div class="panel-heading">
<strong>{{ object.name }}</strong> <span class="text-muted">commented 5 days ago</span>
</div>
<div class="panel-body">
{{ object.message }}
</div><!-- /panel-body -->
</div><!-- /panel panel-default -->
</div><!-- /col-sm-5 -->
{% endfor %}    



</div><!-- /row -->

                <!-- ------------------------------------------------------ -->
              
<!-- ----------------------------------------------------- -->
              </div>
             
            </div>

<script>

        function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          // center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();

        // function() {
        //   geocodeAddress(geocoder, map);
        // }

        geocodeAddress(geocoder, map);
         // document.getElementById('submit').addEventListener('click', function() {
         //   geocodeAddress(geocoder, map);
         // });
      }

        function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }






</script>

    <script defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdK1s2hdJZYibJDz7HdxDX8zk99B1dtOg&callback=initMap">
    </script>

            <div class="col-md-4 column" style="height:100%; width: 99%;">
                <div class="affix" style="height:100%; width: 99%;">
                <div id="map" ></div>
               
                 Postcode:
               <input id="address" type="textbox" value={{ ad.location }}>
                <address> <strong>Seller Profile</strong><br /><br /><strong>email: {{ ad.email }}</strong><br /> <abbr title="Phone"><strong>Phone number:</abbr> {{ ad.phone }}</strong></address>
                <div>
                <strong id="like_count_item">{{ ad.likes }}</strong> people like this item
                {% if user.is_authenticated %}
                <button id="likes_item" data-adid="{{ad.id}}" class="btn btn-primary btn-sm" type="button"><i class="fas fa-heart">Like</i></button>
                  {% endif %}
                </div>
                </div>
            </div>
             {% endfor %}
          </div>
        </div>
      </div>


    <!-- ============================================================ -->
    <div class="clear"></div>

<!-- ----------------------------------------------------------------------------------------------------------- -->

  





{% endblock %}
