<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="form_img" enctype="multipart/form-data runat="server">
        <input type='file' onchange="upload_img(this);" />
        <img id="img_id" src="#" alt="your image" />
    </form>

</body>
<script type="text/javascript">


        function upload_img(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img_id').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

    </script>
</html>