{% extends 'rango/base_bootstrap_showitem.html' %}
{% load staticfiles %}

{% block title_block %}
show item
{% endblock %}

{% block body_block %}
<!-- <div>
    <table border="1">
       
        <tbody>

        {% for line,con in combine_list %}

        <div class="collapse navbar-collapse" >
        <tr>
            <td id="tdtitle"><a class="btn-link" href="/rango/item?title={{ line.title }}&location={{ con.location }}"
                                value="{{ line.title }}">{{ line.title }}</a></td>
            <td id="tddes">{{ line.description }}</td>
            <td><img src="/media/{{ line.image }}"> "/media/{{ line.image }}"</td>

            <td id="tdloc">{{ con.location }}</td>


        </tr>
        </div>
      

        {% endfor %}
        </tbody>


    </table>


</div> -->

<div class="container" >
    <div class="row clearfix">
        <div class="col-md-12 column">
           <ul class="breadcrumb">
        <li>
           <a href="{% url 'index' %}">Home</a>
        </li>
        <li>
           <a href="{% url 'showitem' %}">Showitem</a>
        </li>
       
      </ul>
          <div class="warp">
         <div class="header">
        <div class="header_slide">
        

            <div class="header_bottom_left">        
        <div class="categories">
          <ul>
            <h3>Categories</h3>
              <li><a href="#">Mobile Phones</a></li>
              <li><a href="#">Desktop</a></li>
              <li><a href="#">Laptop</a></li>
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Software</a></li>
               <li><a href="#">Sports &amp; Fitness</a></li>
               <li><a href="#">Footwear</a></li>
               <li><a href="#">Jewellery</a></li>
               <li><a href="#">Clothing</a></li>
               <li><a href="#">Home Decor &amp; Kitchen</a></li>
               <li><a href="#">Beauty &amp; Healthcare</a></li>
               <li><a href="#">Toys, Kids &amp; Babies</a></li>
          </ul>
        </div>          
           </div>


           <div class="header_bottom_right">           
             <div class="slider">              
               <div id="slider">
             
                          <div id="mover">
                    
                            <div id="slide-1" class="slide">                          
                   <div class="slider-img">
                       <a href="preview.html"><img src="{% static 'images/bbig6.jpg' %}" alt="learn more" /></a>                     
                    </div>
                          <div class="slider-text">
                                     <h1>Clearance<br><span>SALE</span></h1>
                                     <h2>UPTo 20% OFF</h2>
                     <div class="features_list">
                      <h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>                            
                          </div>
                           <a href="preview.html" class="button">Shop Now</a>
                             </div>                    
                    <div class="clear"></div>       
                          </div> 
                        
                         
                          <div class="slide">
                            <div class="slider-text">
                                     <h1>Clearance<br><span>SALE</span></h1>
                                     <h2>UPTo 40% OFF</h2>
                     <div class="features_list">
                      <h4>Get to Know More About Our Memorable Services</h4>                             
                          </div>
                           <a href="preview.html" class="button">Shop Now</a>
                             </div>   
                           <div class="slider-img">
                       <a href="preview.html"><img src="{% static 'images/bbig5.jpg' %}" alt="learn more" /></a>
                    </div>                                                   
                    <div class="clear"></div>       
                          </div>
                          <div class="slide">                         
                            <div class="slider-img">
                       <a href="preview.html"><img src="{% static 'images/bbig1.jpg' %}" alt="learn more" /></a>
                    </div>
                    <div class="slider-text">
                                     <h1>Clearance<br><span>SALE</span></h1>
                                     <h2>UPTo 10% OFF</h2>
                     <div class="features_list">
                      <h4>Get to Know More About Our Memorable Services Lorem Ipsum is simply dummy text</h4>                            
                          </div>
                           <a href="preview.html" class="button">Shop Now</a>
                             </div> 
                    <div class="clear"></div>       
                          </div>                        
                       </div>   
                    </div>
           <div class="clear"></div>                 
             </div>
          </div>
       <div class="clear"></div>
    </div>
</div>
</div>     


<div class="main">
<div class="content">
  
  <div class="content_top">
        <div class="heading">
        <h3>New Products</h3>
        </div>
        <div class="see">
          <p><a href="#">See all Products</a></p>
        </div>
        <div class="clear"></div>
      </div>
</div>

            <div class="row" >
             {% for line in ad_list %}
                <div class="col-md-4" style="width:100%;height:100%">
                    <div class="thumbnail" style="width:100%;height:100%">
    <ul>
      
      <li><span class="converse"><i class="fa fa-shopping-basket" aria-hidden="true"></i>{{line.title}}</span></li>
  
    </ul>                         
                        <div id="showimg" ><img  src="/media/{{ line.image }}" width="100%" height="200" /></div>
                        
                        <div class="caption" style="width:100%;height:100%">
                            
                           <div class="heading" align="center">{{ line.title }}</div>
                           </br>                            
                           <div class="info" >{{line.description}}</div>
                            <div class="price" style="" >${{line.price}} <del style="color: red;">$75.00</del></div>
                              
                            <p>
                                
                                 <a class="btn-link" href="/rango/item?title={{ line.title }}&location={{ line.location }}"
                                
                                value="{{ line.title }}"><button type="button" class="btn btn-info"><i class="far fa-eye"></i>Take a look！</button></a>
                                
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
</div>

 </div>




<div class="footer">
      <div class="wrap">  
       <div class="section group">
        <div class="col_1_of_4 span_1_of_4">
            <h4>Information</h4>
            <ul>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Customer Service</a></li>
            <li><a href="#">Advanced Search</a></li>
            <li><a href="delivery.html">Orders and Returns</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>
        <div class="col_1_of_4 span_1_of_4">
          <h4>Why buy from us</h4>
            <ul>
            <li><a href="about.html">About Us</a></li>
            <li><a href="contact.html">Customer Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="contact.html">Site Map</a></li>
            <li><a href="#">Search Terms</a></li>
            </ul>
        </div>
        <div class="col_1_of_4 span_1_of_4">
          <h4>My account</h4>
            <ul>
              <li><a href="contact.html">Sign In</a></li>
              <li><a href="index.html">View Cart</a></li>
              <li><a href="#">My Wishlist</a></li>
              <li><a href="#">Track My Order</a></li>
              <li><a href="contact.html">Help</a></li>
            </ul>
        </div>
        <div class="col_1_of_4 span_1_of_4">
          <h4>Contact</h4>
            <ul>
              <li><span>+91-123-456789</span></li>
              <li><span>+00-123-000000</span></li>
            </ul>
            <div class="social-icons">
              <h4>Follow Us</h4>
                  <ul>
                    <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-skype"></i> </a></li>
                    <li><a href="#" target="_blank"> <i class="fab fa-dribbble"></i></li>
                    <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                    <div class="clear"></div>
                 </ul>
              </div>
        </div>
      </div>      
        </div>
        <div class="copy_right">
        <p>&copy; 2013 home_shoppe. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
       </div>
    </div>

<!-- <div class="block">
  
  <div class="top">
    <ul>
      <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
      <li><span class="converse"></span></li>
      <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
</a></li>
    </ul>
  </div>
  
  <div class="middle">
    {% for line in ad_list %}
    <img src="/media/{{ line.image }}" alt="pic" />
  </div>
  
  <div class="bottom">
    <div class="heading">{{ line.title }}</div>
    <div class="info">{{line.description}}</div>
    <div class="style"></div>
    <div class="price">{{line.price}} <span class="old-price">$75.00</span></div>
      {% for con in contect_list %}
    <a class="btn-link" href="/rango/item?title={{ line.title }}&location={{ con.location }}"
    value="{{ line.title }}"><button type="button" class="btn btn-info">{{ line.title }}</button></a>
        {% endfor %}
  </div>
   {% endfor %}
</div> -->
<!-- <div class="block"> -->
  
<!--   <div class="top">
    <ul>
      <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
      <li><span class="converse">Converse</span></li>
      <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
</a></li>
    </ul>
  </div> -->
<!--   
  <div class="middle">
    <img src="https://www.converse.com/on/demandware.static/-/Sites-ConverseMaster/default/dw33d36cdd/images/hi-res/654210C_standard.jpg?sw=580&sh=580&sm=fit" alt="pic" />
  </div>
  
  <div class="bottom">
    <div class="heading">Chuck Taylor
All Star Neon Floral Yth/Jr</div>
    <div class="info">Neon converse edition</div>
    <div class="style">Color: Black/White/Aegean Aqua / Style: 654210C</div>
    <div class="price">$35.00 <span class="old-price">$45.00</span></div>
  </div> -->
  
<!-- </div> -->
<!-- <div class="block">
  
  <div class="top">
    <ul>
      <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
      <li><span class="converse">Converse</span></li>
      <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
</a></li>
    </ul>
  </div>
  
  <div class="middle">
    <img src="http://demandware.edgesuite.net/aalw_prd/on/demandware.static/-/Sites-ConverseMaster/default/dw183dd1f7/images/hi-res/M8437C_standard.jpg?sw=580&sh=580&sm=fit" alt="pic" />
  </div>
  
  <div class="bottom">
    <div class="heading">Chuck Taylor
Stars and Bars</div>
    <div class="info">Fresh converse edition</div>
    <div class="style">Color: Stars & Bars / Style: M8437C</div>
    <div class="price">$50.00</div>
  </div>
  
</div>
<div class="block">
  
  <div class="top">
    <ul>
      <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
      <li><span class="converse">Converse</span></li>
      <li><a href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i>
</a></li>
    </ul>
  </div>
  
  <div class="middle">
    <img src="https://www.converse.com/on/demandware.static/-/Sites-ConverseMaster/default/dwec469ff7/images/hi-res/151116C_standard.jpg?sw=580&sh=580&sm=fit" alt="pic" />
  </div>
  
  <div class="bottom">
    <div class="heading">Chuck Taylor
All Star II Neon</div>
    <div class="info">Neon converse edition</div>
    <div class="style">Color: Teal/Navy/White / Style: 151116C</div>
    <div class="price">$34.00 <span class="old-price">$50.00</span></div>
  </div> -->
  
<!-- </div>
 -->

{% endblock %}